
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Oranienbaum);

/*font-family: 'Oranienbaum', serif;
font-family: 'Old Standard TT', serif;
*/
/* ==========================================================================
   General
   ========================================================================== */

* {
    box-sizing: border-box;
}

body {
    background-color: #ccd5d8;
    line-height: 1.25;
}

main {
    margin: 0 auto;
  /*  padding: 0 15px;*/
    width: 75.51669%; /* 950px */
}

h2 {
    border-bottom: 1px solid #000;
    font-family: 'Oranienbaum', serif;
    font-size: 1.7em;
    padding: 10px 15px;
    text-transform: uppercase;
}

h3 {
    font-size: .9em;
    font-weight: bold;
    /*padding: 15px 15px 0 15px;*/

}

p {
    color: #555;
    font-size: .85em;
}

a {
    /* border-bottom: 4px solid #9be; this border moved to the :after below */
   /* color: #000;
    font-size: 0.8em;
    text-decoration: none;*/
    color: #222;
    font-size: 0.75em;
}

/*a::after {
  content: "";
  display: block;
  border-bottom: 4px solid #9be;
  margin-top: -5px; /* move border up to blend in with text */
}*/

img {
    display: block;
    max-width: 100%;
} 


<<<<<<< HEAD
=======
footer.online {
  margin-left: 15px;
}

footer.online div {
  display: inline-flex; /* hooray to flexbox! */
}

>>>>>>> 481d20e0a38e9f17086f99f087eeb19bd89daa5f

.upcase {
    text-transform: uppercase;
}

.web {
    font-variant: small-caps;
    color: #000;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* ==========================================================================
   Main Header
   ========================================================================== */

header {
    background-color: #000;
    height: 120px;
}

header h1 {
    border-bottom: 1px solid #fff;
    color: #fff;
    float: left;
    font-size: .6em; /* 9.6px */
    line-height: 1;
    margin: 0 0 0 20px;
    padding: 70px 0 10px;
    text-align: right;
    text-transform: uppercase;
    width: 30%;
}

.wired-logo-image {
    float: left;
    height: auto;
    margin-top: 42px;
    width: 6.842105%; /* 65px/950px */
}



/* ==========================================================================
   Main Content
   ========================================================================== */

[class*='col-'] {
    background-color: #fff;
    border: 1px solid #000;
    border-top: 10px solid #000;
    margin: 2.30431578% 2.30431578% 0 0; /* 21.891px/950px. Add margin to top and right side of all sections with col- in the class*/
}

.col-35-42 {
    float: left;
    width: 83.33%;
}

.col-35-42 a {
    display: inline;
    font-size: 0.8em;
}

.col-35-42 img {
    float: left;
    width: 75%;
}

.col-35-42 aside {
    float: left;
    margin-left: 20px;
    width: 21%;
}

.col-35-42 .online div {
    padding-top: 0;
}

[class*='17-42'] {
    float: left;
    width: 41.665%;
    /*margin: 5.68597% 5.68597% 0 0; /* 21.891px/385px */*/
}

.inner {
   margin: 5.760319553% 5.760319553% 0 0;
}

.usc-wired{ 
    display: block;
    margin: 25px auto;
    width: 75%;
}

.janeane {
    width: 100%;
}

.section-content {
    padding: 15px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
    font-variant: small-caps;
}

/* ==========================================================================
   Aside
   ========================================================================== */

.aside-6-42 {
    background-color: #fff; /* replicated from col- rule */
    border: 1px solid #000;
    border-top: 10px solid #000;
    float: right;
    height: 1083px;
    margin-top: 2.38%;
    padding: 0 15px;
    text-align: center;
    width: 14.29%;
}

.aside-6-42 p {
    margin-top: 20px;
}

h4 {
    border-bottom: 1px solid #000;
    font-size: 0.67em;
    font-weight: bold;
    height: 51px;
    line-height: 1;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
}

aside img {
    display: block;
    height: 35px;
    width: 35px;
    margin: 15px auto;
}

.aside-6-42 p {
   color: #000;
   font-size: 0.65em;
   font-weight: bold;
   text-align: center;
}

aside a {
    display: block;
    font-size: 0.65em;
    margin: 0 auto;
    
}

aside div {
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

aside div:last-of-type {
    border-bottom: none;
    padding-top: 30px;
}

/* ==========================================================================
  Resets
   ========================================================================== */
h2,
h3,
h4,
p {
    margin: 0;
}


/* 10/23/15 - 4 hours of work on this */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@/*media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

/*@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}*/
